.ResetPassBg{
    background: linear-gradient(90deg, rgba(20,125,115,1) 0%, rgba(19,164,135,1) 100%);
   ;
   
   }
   @font-face {
       font-family: 'Inter';
       src: url('/public/font/Inter-Bold.woff2') format('woff2'),
           url('/public/font/Inter-Bold.woff') format('woff');
       font-weight: bold;
       font-style: normal;
       font-display: swap;
   }
   
   @font-face {
       font-family: 'Inter';
       src: url('/public/font/Inter-Black.woff2') format('woff2'),
           url('/public/font/Inter-Black.woff') format('woff');
       font-weight: 900;
       font-style: normal;
       font-display: swap;
   }
   
   @font-face {
       font-family: 'Inter';
       src: url('/public/font/Inter-ExtraBold.woff2') format('woff2'),
           url('/public/font/Inter-ExtraBold.woff') format('woff');
       font-weight: bold;
       font-style: normal;
       font-display: swap;
   }
   
   @font-face {
       font-family: 'Inter';
       src: url('/public/font/Inter-Light.woff2') format('woff2'),
           url('/public/font/Inter-Light.woff') format('woff');
       font-weight: 300;
       font-style: normal;
       font-display: swap;
   }
   
   @font-face {
       font-family: 'Inter';
       src: url('/public/font/Inter-ExtraLight.woff2') format('woff2'),
           url('/public/font/Inter-ExtraLight.woff') format('woff');
       font-weight: 200;
       font-style: normal;
       font-display: swap;
   }
   
   @font-face {
       font-family: 'Inter';
       src: url('/public/font/Inter-Medium.woff2') format('woff2'),
           url('/public/font/Inter-Medium.woff') format('woff');
       font-weight: 500;
       font-style: normal;
       font-display: swap;
   }
   
   @font-face {
       font-family: 'Inter';
       src: url('/public/font/Inter-SemiBold.woff2') format('woff2'),
           url('/public/font/Inter-SemiBold.woff') format('woff');
       font-weight: 600;
       font-style: normal;
       font-display: swap;
   }
   
   @font-face {
       font-family: 'Inter';
       src: url('/public/font/Inter-Regular.woff2') format('woff2'),
           url('/public/font/Inter-Regular.woff') format('woff');
       font-weight: normal;
       font-style: normal;
       font-display: swap;
   }
   
   @font-face {
       font-family: 'Inter';
       src: url('/public/font/Inter-Thin.woff2') format('woff2'),
           url('/public/font/Inter-Thin.woff') format('woff');
       font-weight: 100;
       font-style: normal;
       font-display: swap;
   }
   .text-gray{
       color: #637381;
   }
   .bg-custom-green{
       background-color: #147D73
       ;
   }
   .text-custom-green{
       color: #147D73
       ;
   }
   .ResetEmailBg {
       background: radial-gradient(circle, rgba(115,110,219,1) 0%, rgba(13,73,51,1) 51%, rgba(11,62,43,1) 100%);
   
   }
   .w-500{
       width: 500px ;
   }
   .h-500{
       height: 500px;
   }