body {
  font-family: "Inter";
}
.h-86 {
  height: 86px;
}
@font-face {
  font-family: "Inter";
  src: url("/public/font/Inter-Bold.woff2") format("woff2"),
    url("/public/font/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/font/Inter-Black.woff2") format("woff2"),
    url("/public/font/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/font/Inter-ExtraBold.woff2") format("woff2"),
    url("/public/font/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/font/Inter-Light.woff2") format("woff2"),
    url("/public/font/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/font/Inter-ExtraLight.woff2") format("woff2"),
    url("/public/font/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/font/Inter-Medium.woff2") format("woff2"),
    url("/public/font/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/font/Inter-SemiBold.woff2") format("woff2"),
    url("/public/font/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/font/Inter-Regular.woff2") format("woff2"),
    url("/public/font/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/public/font/Inter-Thin.woff2") format("woff2"),
    url("/public/font/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
.text-lightGreen {
  color: #147d73;
}
.text-darkGreen {
  color: #147d73;
}
.text-green-dark {
  color: #219653;
}
/* .h-164{
    height: 10.25rem;
} */
.border-dark {
  border-color: #8890a4;
}
.border-darkGreen {
  border-color: #147d73;
}
.radius-30 {
  border-radius: 30px;
}
/* .bg-custom-light{
    background-color: #F8FAFC;
} */
.bg-custom-extraDarkGreen {
  background-color: #2b4447;
}
.bg-custom-skyBlue {
  background-color: #147d73;
}
.bg-custom-darkGreen {
  background-color: #147d73;
}
.bg-custom-green {
  background-color: #edf7f1;
}
.bg-custom-gray {
  background-color: #d9d9d9;
}
.bg-custom-red {
  background-color: #fbf0f1;
}
.bg-custom-yellow {
  background-color: #fff8eb;
}
.bg-custom-darkBlue {
  background-color: #4a6cf7;
}
.bg-custom-darkYellow {
  background-color: #ffa70b;
}
.bg-custom-darkRed {
  background-color: #dc3545;
}
.bg-custom-purple {
  background-color: #a53ceb;
}
.bg-custom-blue {
  background: #f1f3fe;
}
.text-red {
  color: #dc3545;
}
.text-yellow {
  color: #ffa70b;
}
.text-blue {
  color: #4a6cf7;
}
.text-darkBlue {
  color: #3056d3;
}
.h-76 {
  height: 76px;
}
.w-90 {
  width: 90px;
}
.text-lightGray {
  color: #f8fafc;
}
.text-green {
  color: #2b4447;
}
.text-gray {
  color: #637381;
}
.dot {
  width: 6px;
  height: 6px;
}
li {
  list-style: none;
}
.list-inside:hover,
.box-range:hover {
  background-color: #f8fafc;
}
.list-inside:hover h6 {
  color: #147d73;
}
.list-inside:hover .cls-1 {
  fill: #147d73;
}
.h-custom-half {
  height: 80vh;
}
.msg-no {
  width: 19px;
  height: 19px;
  right: -8px;
  top: -8px;
}
/* .datepicker-controls .prev-btn,.next-btn{
   border: 1px solid #e5e7eb;
}
.datepicker-controls .today-btn,.clear-btn{
display: block !important;
border-radius: 4px !important;
} */
/* .datepicker-controls .today-btn{
    background-color: #2B4447 !important
    ;
  
}
.datepicker-controls .clear-btn{
background-color: #147D73 !important;
color: #fff !important;
} */
/* .datepicker-cell.focused{
    background-color: #147D73
 !important    ;
 color: #fff !important;
}
.datepicker-picker{
    width: 370px !important;
}
.days{
    width: 100% !important;
}
.datepicker-grid{
    width: 100% !important;
} */
.user-dropdown {
  top: 160% !important;
  right: 0 !important;
}
/* .update-user img{
    width: 55px;

} */
.scrollable {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
}
.scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.dropdown-toggle::after {
  display: none;
}

/*......................................................................*/
.datepicker:focus-visible {
  outline: none !important;
}
.react-datepicker {
  padding: 10px;
}
.datePickerBox .react-datepicker__header {
  background-color: #fff !important;
}
.datePickerBox .react-datepicker__current-month {
  padding: 22px 0;
}
.react-datepicker__navigation-icon::before {
  border: none !important;
}
.datePickerBox .react-datepicker__navigation {
  top: 28px !important;
  background-color: #0000000a;
  border-radius: 7px !important;
  border: 1px solid #e7e7e7 !important
 ;
}
.react-datepicker__navigation-icon--previous::before {
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  display: flex;
  background-image: url(../public/assets/left.png);
  justify-content: center;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 100% !important;
  height: 100% !important;
  align-items: center;
  /* transform: translate(-50%,-50%) rotate(225deg) !important; */
}
.react-datepicker__month-container,
.react-datepicker__day-names,
.react-datepicker__week {
  width: 370px;
}
.react-datepicker__week,
.react-datepicker__day-names {
  display: flex;
  justify-content: space-around;
}
.react-datepicker__header {
  border-bottom: none !important;
}
.react-datepicker__day--selected {
  border-radius: 7px !important;
  background-color: #147d73 !important;
}
.react-datepicker__navigation-icon {
  right: 0 !important;
  top: 0 !important;
  position: relative;

  width: 100%;
  height: 100%;
}
.react-datepicker__navigation--previous {
  left: 22px !important;
}
.react-datepicker__navigation--next {
  right: 22px !important;
}
.mt-0 {
  margin-top: 0 !important;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: #0000000f;
}
.custom-scroll-bar::-webkit-scrollbar {
  width: 6px !important;
  height: 10px !important;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
  width: 8px !important;
  height: 8px !important;
  background: #7a7a7a !important;
  border-radius: 30px !important;
}

#mobile-toggler {
  top: -49px;
}
.grid .placeholder-box {
  padding-top: 70px;
}
.w-custom-20 {
  width: 20%;
}
.product-dropdown {
  top: 160%;
}
.product-category-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  height: 20px;
  width: 1px;
  background-color: #e7e7e7;
}
#default-search {
  outline: none;
}
input[type="radio"]:checked:after {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  top: 4px;
  left: 4px;
  position: absolute;
  background-color: #147d73;
  content: "";
  display: inline-block;
}
input[type="radio"]:checked:before {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  border: 1px solid #147d73;
  content: "";
  display: inline-block;
}
.bg-custom-light {
  background-color: #f8fafc;
}
.anchor-blue:hover {
  color: #376df9;
  text-decoration: underline;
}
.h-80 {
  height: 290px;
}
.h-96 {
  height: 440px;
}
.top-14 {
  top: 56px;
}
.w-56 {
  width: 224px;
}
.bg-custom-blur {
  background-color: #00000059;
}
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #147d73;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #147d73;
}
.bg-slate-200 {
  background-color: rgb(226 232 240);
}
.border-solid {
  border: 1px solid #dadada;
}
.basic-multi-select .css-13cymwt-control {
  padding: 6px 0px 6px 0 !important;
}
.css-13ipsp-control:hover {
  border-color: hsl(0, 0%, 70%) !important;
}
.bg-teal-600 {
  background-color: #147d73;
}
.css-1p3m7a8-multiValue {
  background-color: #147d73 !important;
  color: #fff;
  border-radius: 50px !important;
}
.css-wsp0cs-MultiValueGeneric {
  color: #fff !important;
}
.css-12a83d4-MultiValueRemove:hover {
  background: none !important;
  color: #fff !important;
}
.css-t3ipsp-control {
  box-shadow: none !important;
  border-color: hsl(0, 0%, 80%) !important;
}
.css-t3ipsp-control:hover {
  border: 1px solid hsl(0, 0%, 80%) !important;
}
.bottom-0 {
  bottom: 0px;
}

.left-2\/4 {
  left: 50%;
}
.bulk-update-popup {
  transform: translateX(-50%);
}

/* .MuiSvgIcon-root{

    color: #147d73;

} */

.bg-slate-200 {
  background-color: rgb(226 232 240);
}

.border-solid {
  border: 1px solid #dadada;
}

.basic-multi-select .css-13cymwt-control {
  padding: 6px 0px 6px 0 !important;
}

.css-13ipsp-control:hover {
  border-color: hsl(0, 0%, 70%) !important;
}

.bg-teal-600 {
  background-color: #147d73;
}

.css-1p3m7a8-multiValue {
  background-color: #147d73 !important;

  color: #fff;

  border-radius: 50px !important;
}

.css-wsp0cs-MultiValueGeneric {
  color: #fff !important;
}

.css-12a83d4-MultiValueRemove:hover {
  background: none !important;

  color: #fff !important;
}

.css-t3ipsp-control {
  box-shadow: none !important;

  border-color: hsl(0, 0%, 80%) !important;
}

.css-t3ipsp-control:hover {
  border: 1px solid hsl(0, 0%, 80%) !important;
}

.border-0 {
  border: 0px !important;
}

.w-44 {
  width: 176px !important;
}

.p-0 {
  padding: 0 !important;
}

.border-0:focus {
  border: none !important;
}

.bulk-edit-dropdown {
  top: 84%;
}

.basic-multi-select-2 .select__control {
  border-width: 0px !important;

  /* padding: 0 !important; */
}
.basic-multi-select-2 .css-1u9des2-indicatorSeparator {
  width: 0px !important;
}
/* .basic-multi-select-1 .select__indicators {
  display: none;
} */
.rounded-t-md {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.pb-6 {
  padding-bottom: 1.5rem /* 24px */;
}
.pt-8 {
  padding-top: 2rem /* 32px */;
}
.border-left-blue {
  border-left-color: #4a6cf7;
}
.border-left-red {
  border-left-color: #dc3545;
}
.border-y-custom {
  border-top-color: #e7e7e7;
  border-bottom-color: #e7e7e7;
}
.border-r-custom {
  border-right-color: #e7e7e7 s;
}
/* .max-w-max {
  max-width: max-content;
} */
.w-max {
  width: max-content;
}

@media (min-width: 640px) {
  .sm\:max-w-xl {
    max-width: 36rem /* 576px */;
  }
}
.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.download-file {
  top: 0;
  left: 0;
}
.border-l-8 {
  border-left-width: 8px;
}
/* .border-inherit {
  border-color: #000;
} */
@media (min-width: 640px) {
  .sm\:inline {
    display: inline;
  }
}

.table-pagination:hover {
  background-color: #147d7317;
  text-decoration: none;
  color: #147d73;
}
.bBfHpH,
.dZkckO {
  top: 53%;
}
/* .ant-skeleton-header {
  position: absolute;
}
.ant-skeleton-content {
  position: absolute;
} */
.custom-skeleton .ant-skeleton-paragraph {
  margin-block-start: 12px !important;
}
.custom-skeleton .ant-skeleton-title {
  margin-top: 0px !important;
}

.pr-1 {
  padding-right: 1rem;
}

/* .basic-multi-select .select__control.css-13cymwt-control,
.basic-multi-select .select__control.select__control--is-focused{
  padding: 5px 45px 5px 20px !important;
    min-height: 48px !important;
  }; */
